@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.f-display {
  font-family: 'Aref Ruqaa', serif;
}

input,
textarea,
select,
button {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

::selection {
  background: #b3862f;
  color: #fff;
}
